body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 65, 65);
}
.col_one {
  margin-top: 50px;
  margin-bottom: 30px;
}
.col_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col_two > img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}
.col_two > span {
  display: inline-block;
  width: 90px;
  height: 55px;
  text-align: center;
  line-height: 54px;
  font-size: 33px;
  margin-left: 10px;
}
.blue {
  background-color: rgb(83, 83, 255);
  color: rgb(65, 65, 65);
}

.yellow {
  background-color: rgb(226, 226, 134);
  color: rgb(65, 65, 65);
}
.pink {
  background-color: rgb(194, 116, 142);
  color: rgb(65, 65, 65);
}
.effect:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.listBox {
  width: 100%;
  height: 80px;
}
.list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list > li > div {
  width: 50%;
  background-color: rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.582);
}
.list > li > div > img {
  width: 50px;
  height: 50px;
}
